{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="{% url 'home' %}" class="site-logo">
					<img width="80" style="margin-top:-30px" src={% static 'img/favicon/favicon-100x100.png' %} alt="">
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						{% if user.is_authenticated %}
							<a href="{% url 'profile' %}">Profile</a> / <a href="{% url 'logout' %}">Logout</a>
						{% else %}
							<a href="{% url 'login' %}">Login</a> / <a href="{% url 'login' %}">Register</a>
						{% endif %}
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="#">Game</a>
							<ul class="sub-menu">
								<!--<li><a href="{% url 'alpha' %}">Alpha</a></li>-->
								<li><a href="{% url 'game' %}">Presentation</a></li>
								<li><a href="{% url 'beta' %}">Beta</a></li>
							</ul>
						</li>
						<li><a href="{% url 'news' %}">News</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/page-top-bg/slider-bg-1.jpg' %}">
				<div class="container">
					<h2 style="font-size:100px"><strong>Project Ether</strong> presentation</h2>
					<p></p>
					<a href="{% url 'game' %}" class="site-btn">Read More  <img src={% static 'img/icons/double-arrow.png' %} alt="#"/></a>
				</div>
			</div>
			<!--<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/page-top-bg/slider-bg-2.jpg' %}">
				<div class="container">
					<h2 style="font-size:100px"><strong>Alpha</strong> registration available!</h2>
					<p></p>
					<a href="{% url 'alpha' %}" class="site-btn">Read More  <img src={% static 'img/icons/double-arrow.png' %} alt="#"/></a>
				</div>
			</div>-->
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="{% static 'img/page-top-bg/slider-bg-2.jpg' %}">
				<div class="container">
					<h2 style="font-size:100px"><strong>Beta</strong> registration available!</h2>
					<p></p>
					<a href="{% url 'beta' %}" class="site-btn">Read More  <img src={% static 'img/icons/double-arrow.png' %} alt="#"/></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end-->

	<!-- Intro section -->
	<section class="intro-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="intro-text-box text-box text-white">
					<center><h3>Our Teams?!</h3></center>
					<div class="blog-thumb col align-items-center">
						<figure class="figure">
							<img src={% static 'img/group/tristan.jpg' %} alt="Tristan">
							<figcaption class="figure-caption">Tristan</figcaption>
						</figure>
						<figure class="figure">
							<img src={% static 'img/group/maurin.jpg' %} alt="Maurin">
							<figcaption class="figure-caption">Maurin</figcaption>
						</figure>
						<figure class="figure">
							<img src={% static 'img/group/victor.jpg' %} alt="Victor">
							<figcaption class="figure-caption">Victor</figcaption>
						</figure>
						<figure class="figure">
							<img src={% static 'img/group/antony.jpg' %} alt="Antony">
							<figcaption class="figure-caption">Antony</figcaption>
						</figure>
						<figure class="figure">
							<img src={% static 'img/group/christophe.jpg' %} alt="Christophe">
							<figcaption class="figure-caption">Christophe</figcaption>
						</figure>
						<figure class="figure">
							<img src={% static 'img/group/antoine.jpg' %} alt="Antoine">
							<figcaption class="figure-caption">Antoine</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<h2>Latest News</h2>
					</div>
					<!-- Blog item -->
					{% if news != None %}
						<div class="blog-item">
							<div class="blog-thumb">
								<a href={% url 'detail' id=news.id %}><img src="/media/{{ news.img }}" alt="#"></a>
							</div>
							<div class="blog-text text-box text-white">
								<div class="top-meta">{{ news.created_date }} /  in <a href="{% url 'news' %}">News</a></div>
								<h3>{{ news.title }}</h3>
								<p> </p>
								<a href="{% url 'detail' id=news.id %}" class="read-more">Read More  <img src={% static 'img/icons/double-arrow.png' %} alt="#"/></a>
							</div>
						</div>
					{% else %}
						<div class="blog-thumb"></div>
						<div class="blog-text text-box text-white">
							<h3>No news added</h3>
							<p> </p>
						</div>
					{% endif %}
					<!-- End Blog item -->
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
					<div id="stickySidebar">
						<div class="widget-item">
							<h4 class="widget-title">Trending</h4>
							<div class="trending-widget">
								<!-- Trending item -->
								{% if trends != None %}
									{% for trend in trends %}
										<div class="tw-item">
											<div class="tw-thumb">
												<a href={% url 'detail' id=trend.id %}><img width="100" src="/media/{{ trend.img }}" alt="#"></a>
											</div>
											<div class="tw-text">
												<div class="tw-meta">{{ trend.created_date }} /  in <a href="{% url 'news' %}">News</a></div>
												<h5>{{ trend.title }}</h5>
											</div>
										</div>
									{% endfor %}
								{% endif %}
								<!-- End Trending item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

	<!-- Intro section -->
	<section class="intro-video-section set-bg d-flex align-items-end " data-setbg={% static 'img/page-top-bg/future.jpg' %}>
		<a class="video-play-btn video-popup"><img src={% static 'img/icons/solid-right-arrow.png' %} alt="#"></a>
		<div class="container">
			<div class="video-text">
				<h2>Our trailer 'SOON'</h2>
				<p>Presentation of our end of study project.</p>
			</div>
		</div>
	</section>
	<!-- Intro section end -->
{% endblock %}
