{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="{% url 'home' %}" class="site-logo">
					<img width="80" style="margin-top:-30px" src={% static 'img/favicon/favicon-100x100.png' %} alt="">
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						{% if user.is_authenticated %}
							<a href="{% url 'profile' %}">Profile</a> / <a href="{% url 'logout' %}">Logout</a>
						{% else %}
							<a href="{% url 'login' %}">Login</a> / <a href="{% url 'login' %}">Register</a>
						{% endif %}
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'game' %}">Game</a>
							<ul class="sub-menu">
								<li><a href="{% url 'alpha' %}">Alpha</a></li>
								<li><a href="{% url 'beta' %}">Beta</a></li>
							</ul>
						</li>
						<li><a href="{% url 'news' %}">News</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
		<div class="page-info">
			<h2>Profile: Welcome <strong>{{ request.user }}</strong></h2>
		</div>
	</section>
	<!-- Page top end-->

	<!-- Login/Register page -->
	<section class="contact-page">
		<div class="container">
			{% include 'errors/error.html' %}
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<div class="alert alert-warning">
							<button type="button" class="close"><span>&times;</span></button>
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="alert alert-warning">
						<button type="button" class="close"><span>&times;</span></button>
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %}
			<div class="row">
				<div class="col-lg-5 order-2 order-lg-1">
					<form class="contact-form" method="post" action="{% url 'profileEditPassword' %}">
						{% csrf_token %}
						<input type="password" id="password1" name="old_password" placeholder="Current password" required="" autofocus="">
						<span class="fa fa-fw fa-eye field-icon toggle-password"></span>
						<input type="password" id="password2" name="new_password1" placeholder="New password" required="" autofocus="">
						<input type="password" id="password3" name="new_password2" placeholder="Confirm new password" required="" autofocus="">
						<button style="float:left;" class="site-btn btn-block">Update password<img src={% static "img/icons/double-arrow.png" %} alt="#"/></button>
					</form><br><br><br><br>
					<div class="col-lg-12 order-2 order-lg-1">
						<img src="/media/{{ user.profile.avatar }}" width="500">
					</div>
				</div>
				<div class="col-lg-7 order-1 order-lg-2 contact-text text-white">
					<form class="contact-form" method="post" action="{% url 'profileEditInformation' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<input type="email" name="email" value="{{ user.email }}" placeholder="Email" required="" autofocus="">
						<input type="text" name="first_name" value="{{ user.first_name }}" placeholder="First name" autofocus="">
						<input type="text" name="last_name" value="{{ user.last_name }}" placeholder="Last name" autofocus="">
						{{ user.profile.avatar }}
						<input type="file" name="avatar" accept="image/*">
						<input type="text" name="location" value="{{ user.profile.location }}" placeholder="Location" autofocus="">
						<input type="date" name="birthdate" value="{{ user.profile.birthdate|date:'Y-m-d' }}" placeholder="Birth date" autofocus="">
						<button style="float:left;" class="site-btn btn-block">Update<img src={% static "img/icons/double-arrow.png" %} alt="#"/></button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Login/Register page end-->
{% endblock %}