{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="/" class="site-logo">
					<img src={% static 'img/favicon/favicon-50x50.png' %} alt="">
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						{% if user.is_authenticated %}
							<a href="{% url 'profile' %}">Profile</a> / <a href="{% url 'logout' %}">Logout</a>
						{% else %}
							<a href="{% url 'login' %}">Login</a> / <a href="{% url 'login' %}">Register</a>
						{% endif %}
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="/">Home</a></li>
						<li><a href="/ether">Games</a>
							<ul class="sub-menu">
								<li><a href="/ether/alpha">Alpha</a></li>
								<li><a href="/ether/beta">Beta</a></li>
							</ul>
						</li>
						<li><a href="/news">News</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
		<div class="page-info">
			<h2>Games</h2>
			<div class="site-breadcrumb">
				<a href="/">Home</a>  /
				<span>Games</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->

	<!-- Featured section -->
	<section class="featured-section">
		<div class="featured-bg set-bg" data-setbg="{% static 'img/page-top-bg/featured-bg.jpg' %}"></div>
		<div class="featured-box">
			<div class="text-box">
				<div class="top-meta">11.11.18  /  in <a href="/ether">Games</a></div>
				<h3>The game you’ve been waiting  for is out now</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo ipsum. Donec pellentesque vestibulum metus...</p>
				<!--<a href="#" class="read-more">Read More <img src={% static 'img/icons/double-arrow.png' %}  alt="#"/></a>-->
			</div>
		</div>
	</section>
	<!-- Featured section end-->
{% endblock %}